.logo {
    margin-top: 60px;
    margin-left: 54px;
    width: 150px; 
    height: auto;  
}

main{
    display: flex;
    flex-direction: row; 
    align-items: center;
    background: linear-gradient(to right, #804182, #000000);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    button{
        border: none;
        cursor: pointer;
        
    }

    p{
        font-size: 14px;
        font-weight: bold;
    }
    
    h1, h2, button{
        font-weight: bold;
    }
}

section{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    height: 100%;
}

.one{
    margin-left: 100px;

    p{
        margin-top: 10px;
    }

}

.form-section{
    margin-left: 300px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 50px;
    width: 380px;
    height: 310px;
    border-radius: 20px;
    margin-right: 100px;

    button{
        margin-top: 20px;
        margin-bottom: -40px;
        border-radius: 10px;
        width: 125px;
        height: 35px;
        background-color: #1b0e1b;
        color: white;
        font-size: 17px;
    }
    

    }

    .form-section2{
        margin-left: 300px;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5); 
        padding: 50px;
        width: 380px;
        height: 510px;
        border-radius: 20px;
        margin-right: 100px;
    
        button{
            margin-top: 20px;
            margin-bottom: -40px;
            border-radius: 10px;
            width: 125px;
            height: 35px;
            background-color: #1b0e1b;
            color: white;
            font-size: 17px;
        }

    

    h1{
        margin-top: -60px;
        margin-bottom: 45px;
        font-size: 50px;      
    }

    p, h1{
        color: #1b0e1b;
    }



    input{
        width: 290px;
        height: 32px;
        border-radius: 10px;
        border: none;
        text-align: center;
    } 

    input::placeholder {
        color: rgba(0, 0, 0, 0.5); 
        font-style: italic; 
    }

    .label {
        margin-right: 10px; 
        font-size: 16px; 
    }

}

.main-section{
    margin-left: 250px;
    background-color: #1b0e1b;
    color: white;
    


    button{
        margin-top: 100px;
        margin-bottom: 60px;
        border-radius: 10px;
        width: 120px;
        height: 30px;
        font-size: 19px;
    }

    h2{
        font-size: 40px;   
    }
    
    img{
    max-width: 100%;
    height: auto;
    }
}





@media (max-width: 900px) {
    main {

        flex-direction: column; /* Muda para coluna em telas menores */
        align-items: center; /* Centraliza os itens */
    }


    .form-section {

        margin-right: 0; /* Remove a margem à direita */
        width: 90%; /* Ajusta a largura para ocupar 90% da tela */
        padding: 30px; /* Reduz o padding */
    }

    .one {

        text-align: center; /* Centraliza o texto */
    }

    button {
        width: 100%; /* Ajusta a largura do botão para ocupar toda a largura disponível */
    }

    input {
        width: 100%; /* Ajusta a largura do input para ocupar toda a largura disponível */
        max-width: 290px; /* Largura máxima para inputs */
    }
}

@media (max-width: 600px) {
    .logo{
        margin-top: 30px; /* Ajusta a margem superior */
        width: 90px; /* Reduz a largura do logo */

    }

    .form-section {
        width: 95%; /* Ajusta a largura para 95% em telas pequenas */
    }
    

    h1 {
        font-size: 24px; /* Tamanho da fonte menor em telas pequenas */
    }

    button {
        width: 80%; /* Reduz a largura do botão */
        font-size: 16px; /* Ajusta o tamanho da fonte do botão */
    }
}
